/* src/css/HomePage.css */

.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  margin: 0;
}

.map-container {
  flex: 1; /* This makes the map container take up the remaining space after header and footer */
  position: relative; /* Ensure that search bar is positioned relative to this container */
  width: 100%;
}

.map {
  height: 100%;
  width: 100%;
}

.search-bar {
  position: absolute;
  top: 20px; /* Adjust based on your navbar height */
  left: 60px;
  z-index: 1000; /* Ensure it is above the map */
  width: 300px; /* Adjust width as needed */
  background: white; /* Ensure readability */
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.search-results {
  position: absolute;
  top: 70px; /* Adjust based on your navbar and search bar height */
  left: 60px;
  z-index: 1000; /* Ensure it is above the map */
  max-height: 400px; /* Limit the height of the results */
  overflow-y: auto; /* Add scrollbar if needed */
  background: white; /* Ensure visibility */
  width: 300px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.search-results .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.directions-button {
  font-size: 0.875rem; /* Slightly smaller font size */
  padding: 0; /* Adjust padding */
  color: #007bff;
  text-decoration: underline;
  background: none;
  border: none;
  cursor: pointer;
}

.footer {
  padding: 10px;
  background-color: #f8f9fa;
  text-align: center;
}

.bouncing-icon {
  position: relative;
}

.custom-icon {
  width: 32px;
  height: 32px;
  transform: translate(-50%, -100%);
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
}

.map-container .leaflet-popup {
  max-width: 300px; /* Ensure popup width is sufficient */
}
.leaflet-popup-content {
  max-width: 200px; /* Set a max width */
  word-wrap: break-word; /* Wrap text to avoid overflow */
}

.leaflet-popup-content-wrapper {
  overflow: auto; /* Ensure content scrolls if it overflows */
}

.leaflet-popup-content button {
  display: block;
  width: 100%;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
